<div class="container animated">
  <div class="card-deck">
  <div class="container  col-9">

    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="../assets/img/img4.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Philadelphia roll (5 piezas)</h4>
          <p class="card-text">Salmón, palta y philadelphia cubierto con césamo.</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="card-custom-price col-md-6">
              $ 72.00
            </div>
            <div class="card-custom-add col-md-6 text-right">
              <svg width="24" height="24"><circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="2" fill="transparent"></circle><line x1="8" y1="12" x2="16" y2="12" style="stroke: currentcolor; stroke-width: 2;"></line><line x1="12" y1="8" x2="12" y2="16" style="stroke: currentcolor; stroke-width: 2;"></line></svg>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../assets/img/img5.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">New york roll (5 piezas)</h4>
          <p class="card-text">Salmón y palta cubierto con césamo.</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-6">
              $ 100
            </div>
            <div class="col-md-6 text-right">
              <svg width="24" height="24"><circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="2" fill="transparent"></circle><line x1="8" y1="12" x2="16" y2="12" style="stroke: currentcolor; stroke-width: 2;"></line><line x1="12" y1="8" x2="12" y2="16" style="stroke: currentcolor; stroke-width: 2;"></line></svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="../assets/img/img1.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Título</h4>
          <p class="card-text">Breve descripción del plato.</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-6">
              $ 100
            </div>
            <div class="col-md-6 text-right">
              <svg width="24" height="24"><circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="2" fill="transparent"></circle><line x1="8" y1="12" x2="16" y2="12" style="stroke: currentcolor; stroke-width: 2;"></line><line x1="12" y1="8" x2="12" y2="16" style="stroke: currentcolor; stroke-width: 2;"></line></svg>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../assets/img/img2.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Título</h4>
          <p class="card-text">Breve descripción del plato.</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-6">
              $ 100
            </div>
            <div class="col-md-6 text-right">
              <svg width="24" height="24"><circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="2" fill="transparent"></circle><line x1="8" y1="12" x2="16" y2="12" style="stroke: currentcolor; stroke-width: 2;"></line><line x1="12" y1="8" x2="12" y2="16" style="stroke: currentcolor; stroke-width: 2;"></line></svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container col-sm-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Su Pedido</h4>

      </div>
      <div class="card-footer">
        <div class="row">
          <div class="card-custom-price col-md-6">
            Total
          </div>
          <div class="card-custom-add col-md-6 text-right">
            $ 0
          </div>
        </div>
      </div>
    </div>

  </div>

  </div>
</div>
